.container{
    position: absolute;
    top: 35%;
    margin: 0 auto;
    width: 100vw;
}
.CarouselImg{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    filter: brightness(0.4);
    
}
.textWrap{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title{
        color: var(--white);
        font-size: 4em;
        font-weight: bold;
    }
    .description{
        color: var(--white);
        font-size: 1.3em;
        border-bottom: 1px solid var(--grey);
        display: inline;
        padding-bottom: 0.3em;
    }
}